{% extends 'base.html' %}

{% block card %}

     <div class="row container m-auto">
        <div class="d-flex flex-wrap gap-5 mt-5 mb-5 col-md-12 mx-5">
            {% for i in meals %}
            <div class="card" style="width: 18rem;">
                <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{i.strMeal}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>

{% endblock %}